header{
    width:100%;
    height:50px;
    padding-top:20px;
}
header>i{
    color: #f56a6a;
    font-size: 30px;
    padding-left:20px;
}
header>a:link{
    color: #f56a6a;
    font-size:30px;
    padding-left:20px;

}
main{
    width:80%;
    height:auto;
    margin:auto;
}
.head{
display:flex;
justify-content: space-between;
border-bottom:4px solid  #f56a6a;

}
.head a:link{
text-decoration: none;
color:black;
font-family: "Roboto Slab"
}
.head a{
    display:flex;
}
.head p{
    margin-top:20px;
    margin-left:5px;
    font-size:19px;
    
}


.head a:hover{
    color:  #f56a6a;
}
#icons>li{
float:left;
list-style-type:none;
margin-left:10px;
}
#icons>li>a:link{
    color:#7f888f;
text-decoration:none;
}
#icons>li>a:hover{
color: #f56a6a;
}
.content1{
    width:80%;
    height:auto;
    display: flex;
 
 
 
}
#hi{
width:60%;
    color:#3d4449;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
#hi>h1{
    font-size: 55px;
    margin-bottom:24px;
 
}
#hi>h4{
    font-size:18px;
    padding:0px;
    margin:0px;
    margin-bottom:20px;
}
#hi>p{
    font-size:21px;
}
#hi>div{
    color:#f56a6a;
    border:3px solid #f56a6a;
    width:180px;
    height:50px;
    border-radius:10px;
    text-align: center;
    line-height: 50px;
    margin-top:20px;

}
.image1{
    width:40%;
}
.image1>img{
    margin-left:70px;
    width:480px;
    height:450px;
    padding-top:50px;
    border:1px solid white;
    border-radius:10px;
}
#border1{
    width:auto;
    height:1px;
    background-color:#3d4449; 
    margin-top:50px
}
.content2{
    width:100%;
    height:500px;
    display: flex;
    display:flex;
    flex-direction:column;
}
#a{
    width:100%;
    height:100px;
    color:#3d4449; 
  
}
#border3{
    width:180px;
    height:3px;
    background-color:#f56a6a;
    margin-top:-10px;
} 
.secondPart{
    width:100%;
    height:400px;
    display:flex;
    flex-direction: row;
}
.leftIcon{
    width:50%;
    height:400px;

}
.rightIcon{
    width:50%;
    height:400px;
}
.topIcon{
    width:100%;
    height:200px;
    display:flex;
    flex-direction: row;
}
.bottomIcon{
    width:100%;
    height:200px;
    display:flex;
    flex-direction: row;
}
.leftText{
    width:100%;
    height:200px;
    display:flex;
    flex-direction: row;
}
.rightText{
    width:100%;
    height:200px;
    display:flex;
    flex-direction: row;
}
.kristalIcon{
    width:113px;
    height:113px;
    border:1px solid #7f888f;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    margin-top:40px;
    margin-left:25px;
}
#kristal{
    font-size:25px;
    color:#f56a6a;;
    transform: rotate(-45deg);
}
.kristalText{
    margin-left:40px;
    width:74%;
    font-size:20px;
}
.kristalText p{
    color:#7f888f;
}
.kristalText h1{
    color:#3d4449;
}
.rocketIcon{
    width:113px;
    height:113px;
    border:1px solid #7f888f;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    margin-top:40px;
    margin-left:25px;
}
#rocket{
    font-size:25px;
    color:#f56a6a;;
    transform: rotate(-45deg);
}
.rocketText{
    margin-left:40px;
    width:74%;
    font-size:19px;
}
.rocketText h1{
    color:#3d4449;
    
}
.rocketText p{
    color:#7f888f;
    
}
.planeIcon{
    width:113px;
    height:113px;
    border:1px solid #7f888f;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    margin-top:40px;
    margin-left:25px;
}
.planeText{
    margin-left:40px;
    width:74%;
    font-size:19px;
}
#plane{
    font-size:25px;
    color:#f56a6a;;
    transform: rotate(-45deg);
}
.planeText h1{
    color:#3d4449;
}
.planeText p{
    color:#7f888f;
}
.signalIcon{
    width:113px;
    height:113px;
    border:1px solid #7f888f;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    margin-top:40px;
    margin-left:25px;
}
.signalText{
    margin-left:40px;
    width:74%;
    font-size:19px;
}
#signal{
    font-size:25px;
    color:#f56a6a;;
    transform: rotate(-45deg);  
}
.signalText h1{
    color:#3d4449;
}
.signalText p{
    color:#7f888f;
}
